<footer class="site-footer">
    <div class="container">
        <img src="./img/logo.svg" alt="Footer logo">

        <ul class="site-footer__list">
            <li class="menu-item">
                <a href="#" class="menu-link">Affiliates</a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">Advertisers</a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">Events</a>
            </li>
            <li class="menu-item">
                <a href="#" class="menu-link">Blog</a>
            </li>
        </ul>

        <ul class="site-footer__list site-footer__socials">
            <li>
                <a href="#">
                    <svg width="40" height="40">
                        <use href="img/sprite/sprite.svg#facebook"></use>
                    </svg>
                </a>
            </li>

            <li>
                <a href="#">
                    <svg width="40" height="40">
                        <use href="img/sprite/sprite.svg#linkedin"></use>
                    </svg>
                </a>
            </li>

            <li>
                <a href="#">
                    <svg width="40" height="40">
                        <use href="img/sprite/sprite.svg#instagram"></use>
                    </svg>
                </a>
            </li>
        </ul>

        <strong>Contact Us</strong>
        <a href="mailto:support@markify.com">support@markify.com</a>
    </div>
</footer>