<header class="site-header">
    <div class="site-header__main">
        <div class="site-header__row container">
            <div class="site-header__col -left">
                <a href="/" class="site-header__logo">
                    <img src="./img/logo.svg" alt="Logo" class="logo-img">
                </a>
            </div>

            <div class="site-header__col -right">
                <div class="nav-main__wrap">
                    <div class="nav-main">
                        <ul id="menu-header" class="nav-main__links">
                            <li class="menu-item">
                                <a href="#" class="menu-link">Affiliates</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">Advertisers</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">Events</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">Blog</a>
                            </li>
                        </ul>

                        <a href="#" class="c-btn -primary">Sign Up</a>
                    </div>
                </div>

                <button class="nav-main__btn js-mobileNav">
                    <span class="burger-icon">
                        <span></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
</header>